<h1>Edit <%= @litter.name %> Litter </h1>

<%= simple_form_for [@breeder, @litter] do |f| %>
    <%= f.input :name %>
    <%= f.input :birth_date %>
    <%= f.input :stud_id, collection: @studs  %>
    <%= f.input :mom_id, collection: @moms  %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
<% end %>

<%= link_to "Back to #{@litter.name} litter", litter_path(@litter), class: "btn btn-dark popular" %>
