<div class="container">
  <h1>Edit <%= @litter.name %> Litter </h1>

  <div class="form-group col-7">
    <%= simple_form_for [@breeder, @litter] do |f| %>
        <%= f.input :name %>
        <%= f.input :birth_date %>
        <%= f.input :stud_id, collection: @studs  %>
        <%= f.input :mom_id, collection: @moms  %>
        <%= f.input :photo, as: :file %>
        <%= f.submit class: 'btn-primary-pup'%>
    <% end %>
  </div>
  <%= link_to "Back to #{@litter.name} litter", litter_path(@litter), class: "btn btn-dark popular" %>
</div>
