<h1>Create new Litter for <%= @breeder.name %></h1>

<%= simple_form_for [@breeder, @litter] do |f| %>
    <%= f.input :name %>
    <%= f.input :birth_date %>
    <%= f.input :stud_id, collection: @studs  %>
    <%= f.input :mom_id, collection: @moms  %>
    <%= f.submit %>
<% end %> 

