<h1>Create new Litter for <%= @breeder.name %></h1>

<% def choose_stud (studs) %>
  <% selected_stud = [] %>
  <% studs.each do |stud|%>
    <% if stud.breeder_id == @breeder.id %>
      <% selected_stud << stud %>
    <% end %>
  <% end %>
  <% selected_stud %>
<% end %>

<% def choose_mom (moms) %>
  <% selected_mom = [] %>
  <% moms.each do |mom|%>
    <% if mom.breeder_id == @breeder.id %>
      <% selected_mom << mom %>
    <% end %>
  <% end %>
  <% selected_mom %>
<% end %>

<%= simple_form_for [@breeder, @litter] do |f| %>
    <%= f.input :name %>
    <%= f.input :birth_date %>
    <%= f.input :stud_id, collection: choose_stud(@studs) %>
    <%= f.input :mom_id, collection: choose_mom(@moms) %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
<% end %>
