<div class="container">
  <div class="header-sec">
    <div>
      <h1><%= @litter.name %> Litter</h1>
      <p>Date of Birth: <%= @litter.birth_date %></p>
    </div>
    <div>
      <img src="<%= image_path 'litter_hp_pic.svg' %>" style="opacity: .9; height: 275px; width: 450px; object-fit: cover;" />
    </div>
  </div>
  <div>
    <br>

<!-- PARENTS -->

    <h2><span class="highlight-parent"><span class="highlight"></span>Parents</span></h2>

    <!-- PARENTS CARDS -->
    <div class="row puppy-card d-flex justify-content-center">
      <div class="parent-card-litter">
        <% @parents.reverse_each do |parent|%>
          <div class="card-parent draw-border" data-toggle="modal" data-target="#parent-<%= parent.id %>">
              <%= cl_image_tag parent.photo.key, crop: :fill, class: 'show-img'%>
            <div class="card-parent-infos">
              <div>
                <h2><%= parent.name %></h2>
                <p class="p-card"><%= parent.description %></p>
              </div>
            </div>            
          </div>
    
    <!-- PARENTS MODAL -->
          <div class="modal fade" id="parent-<%= parent.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content container">
                <div class="modal-body">
                  <h2><%= parent.name %></h2>
                  <div id="parent-photo">
                    <%= cl_image_tag parent.photo.key, crop: :fill, class: 'show-img'%>
                  </div>
                  <h4>About <%= parent.name  %></h4>
                  <div class="about-parent">
                    <div id="parent-description">
                      <!-- <p><%= parent.description %></p> -->
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie, ante eget vulputate malesuada, arcu lectus ultricies purus, ut commodo elit turpis eu nisi. Praesent placerat ut lorem non maximus. Morbi at vehicula neque. Fusce efficitur maximus purus ac tempor. </p>
                    </div>
                    <div id="parent-info">
                      <div class="parent-info-text"><h4>Gender:</h4><span><%= parent.gender %></span></div>
                      <div class="parent-info-text"><h4>Weight:</h4><span><%= parent.weight %></span></div>
                      <div class="parent-info-text"><h4>Coat:</h4><span><%= parent.coat %></span></div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary-pup" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <br><br>
  
  <!-- PUPPIES -->

    <h2><span class="highlight-parent"><span class="highlight"></span>Puppies</span></h2>

    <!-- PUPPIES CARDS -->
    <div class="row puppy-card">
      <div class="puppies-cards">
        <% @litter.puppies.each do |puppy| %>
          <div class="card-puppies draw-border" data-toggle="modal" data-target="#puppy-<%= puppy.id %>">
            <%= cl_image_tag puppy.photo.key, crop: :fill, class: 'show-img'%>
            <div class="card-puppies-infos">
              <div>
                <h2><%= puppy.name %></h2>
                <p class="p-card"><%= puppy.gender %></p>
              </div>
              <p class="p-card"><%= puppy.coat %></p>
            </div>
          </div>
    
    <!-- PUPPIES MODAL -->
            <div class="modal fade" id="puppy-<%= puppy.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content container">
                  <div class="modal-body">
                    <h2><%= puppy.name %></h2>
                    <div id="parent-photo">
                      <%= cl_image_tag puppy.photo.key, crop: :fill, class: 'show-img'%>
                    </div>
                    <h4>About <%= puppy.name  %></h4>
                    <div class="about-parent">
                      <div id="parent-description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie, ante eget vulputate malesuada, arcu lectus ultricies purus, ut commodo elit turpis eu nisi. Praesent placerat ut lorem non maximus. Morbi at vehicula neque. Fusce efficitur maximus purus ac tempor. </p>
                      </div>
                      <div id="parent-info">
                        <div class="parent-info-text"><h4>Gender:</h4><span><%= puppy.gender %></span></div>
                        <div class="parent-info-text"><h4>Weight:</h4><span><%= puppy.weight %></span></div>
                        <div class="parent-info-text"><h4>Coat:</h4><span><%= puppy.coat %></span></div>
                      </div>
                    </div>
                    <button type="button" class="btn btn-primary-pup" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>

    <br><br>
    <%= link_to "Edit #{@litter.name} Litter", edit_litter_path(@litter), class: "btn-secondary-pup" %>
    <%= link_to "Delete #{@litter.name} Litter", litter_path(@litter), method: "delete", class: "btn-secondary-pup" %>
    <%= link_to "#{@litter.name}'s puppies", breeder_litter_puppies_path(@litter.breeder, @litter), class: "btn-secondary-pup" %>
    <%= link_to "See all breeders", breeders_path, class: "btn-secondary-pup" %>
    <%= link_to "send visitation", new_breeder_visitation_path(@litter.breeder.id, litter_id: @litter.id), class: "btn-primary-pup shadow" %>
  </div>

