<div class="container">
  <div class="header-sec">
    <div>
      <h1><%= @litter.name.capitalize() %> Litter</h1>
      <p>Date of Birth: <%= @litter.birth_date %></p>
    </div>
    <div>
      <img src="<%= image_path 'litter_hp_pic.svg' %>" style="opacity: .9; height: 275px; width: 450px; object-fit: cover;" />
    </div>
  </div>
  <div>
    <br>

<!-- PARENTS -->

    <h2><span class="highlight-parent"><span class="highlight"></span>Parents</span></h2>

    <!-- PARENTS CARDS -->
    <div class="row puppy-card d-flex justify-content-center">
      <div class="parent-card-litter">
        <% @parents.reverse_each do |parent|%>
          <div class="card-parent draw-border" data-toggle="modal" data-target="#parent-<%= parent.id %>">
              <%= cl_image_tag parent.photo.key, crop: :fill, class: 'show-img' if parent.photo.attached?%>
            <div class="card-parent-infos">
              <div>
                <h2><%= parent.name.capitalize() %></h2>
                <p class="p-card"><%= parent.description %></p>
              </div>
            </div>
          </div>

    <!-- PARENTS MODAL -->
          <div class="modal fade" id="parent-<%= parent.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content container" style="border-radius: 8px;">
                <div class="modal-body">
                  <h2><%= parent.name.capitalize() %></h2>
                  <div id="parent-photo">
                    <%= cl_image_tag parent.photo.key, crop: :fill, class: 'show-img', id: "parent-show-img-litter" if parent.photo.attached?%>
                  </div>
                  <h4>About <%= parent.name.capitalize()  %></h4>
                  <div class="about-parent">
                    <div id="parent-description">
                      <p><%= parent.description %></p>
                    </div>
                    <div id="parent-info">
                      <div class="parent-info-text"><h4>Gender:</h4><span><%= parent.gender %></span></div>
                      <div class="parent-info-text"><h4>Weight:</h4><span><%= parent.weight %> Kg</span></div>
                      <div class="parent-info-text"><h4>Coat:</h4><span><%= parent.coat.capitalize() %></span></div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary-pup" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <br><br>

  <!-- PUPPIES -->

    <h2><span class="highlight-parent"><span class="highlight"></span>Puppies</span></h2>

    <!-- PUPPIES CARDS -->
    <div class="row puppy-card">
      <div class="puppies-cards">
        <% @litter.puppies.each do |puppy| %>
          <div class="card-puppies draw-border" data-toggle="modal" data-target="#puppy-<%= puppy.id %>">
            <%= cl_image_tag puppy.photo.key, crop: :fill, class: 'show-img' if puppy.photo.attached? %>
            <div class="card-puppies-infos">
              <div>
                <h2><%= puppy.name.capitalize() %></h2>
                <p class="p-card"><%= puppy.gender %></p>
              </div>
              <p class="p-card"><%= puppy.coat.capitalize() %></p>
            </div>
          </div>

    <!-- PUPPIES MODAL -->
            <div class="modal fade" id="puppy-<%= puppy.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content container" style="border-radius: 8px;">
                  <div class="modal-body">
                    <h2><%= puppy.name %></h2>
                    <div id="parent-photo">
                      <%= cl_image_tag puppy.photo.key, crop: :fill, class: 'show-img', id: "puppies-show-img" if puppy.photo.attached? %>
                    </div>
                    <h4>About <%= puppy.name  %></h4>
                    <div class="about-parent">
                      <div id="parent-description">
                        <p><%= puppy.name %> is a beatiful and very playful puppy. It likes to hang out with it's brothers and sisters and a little ball is it's favourite toy. <%= puppy.name %> loves to meet new people and is super friendly.</p>
                      </div>
                      <div id="parent-info">
                        <div class="parent-info-text"><h4>Gender:</h4><span><%= puppy.gender %></span></div>
                        <div class="parent-info-text"><h4>Weight:</h4><span><%= puppy.weight %> Kg</span></div>
                        <div class="parent-info-text"><h4>Coat:</h4><span><%= puppy.coat.capitalize() %></span></div>
                      </div>
                    </div>
                    <%= link_to "Send visitation", new_breeder_visitation_path(puppy.litter.breeder.id, litter_id: puppy.litter.id), class: "btn btn-primary-pup" %>
                    <button type="button" class="btn btn-primary-pup" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>

    <br><br>
    <%= link_to "Back to #{Breeder.find(@litter.breeder_id).name.capitalize()}' page", breeder_path(@litter.breeder_id), class: "btn-secondary-pup" %>
    <%= link_to "Send visitation", new_breeder_visitation_path(@litter.breeder.id, litter_id: @litter.id), id: "send-visitation-button", class: "btn-primary-pup shadow" %>
  </div>
  <div class="space"></div>
</div>
