<h2><%= @litter.name %> Litter</h2>

<p>Birth Date: <%= @litter.birth_date %></p>

<%= link_to "Edit #{@litter.name} Litter", edit_litter_path(@litter), class: "btn btn-dark popular" %>
<%= link_to "Delete #{@litter.name} Litter", litter_path(@litter), method: "delete", class: "btn btn-dark popular" %>
<%= link_to "See all #{@litter.name} puppies", breeder_litter_puppies_path(@litter.breeder, @litter), class: "btn btn-dark popular" %>
<%= link_to "See all #{@litter.breeder.name} litters", breeder_litters_path(@litter.breeder), class: "btn btn-dark popular" %>
<%= link_to "See all breeders", breeders_path, class: "btn btn-dark popular" %>

<div>
  <%= link_to "send visitation", new_breeder_visitation_path(@litter.breeder.id, litter_id: @litter.id), class: "btn btn-danger btn-lg shadow" %>
</div>

