<h1>this page need to be discussed later</h1>

<!--
<%
<%= simple_form_for [@breeder, @visitation] do |f| %>
  <div class="form-group">
    <%= f.input :full_name%>
    <%= f.input :address %>
    <%= f.input :description %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>

<%= form_for(restaurant) do |f| %>
  <%= f.label :"Full Name" %>
  <%= f.text_field :name %>
  <%= f.label :Address %>
  <%= f.text_field :address %>
  <%= f.label :"Tell us a little about yourself" %>
  <%= f.number_field :description %>
  <%= f.submit %>
<% end %>
-->
