<div class="container">
  <%= simple_form_for [@breeder, @visitation] do |f| %>
    <div class="form-group">
      <h2 class="col-12">Personal Info</h2>
      <div class="personal-info-1">
        <div class="col-4"><%= f.input :name %></div>
        <div class="col-4"><%= f.input :contact_number, :label => "Contact Number" %></div>
        <div class="col-4"><%= f.input :occupation %></div>
      </div>
      <div class="personal-info-2">
        <div class="col-7"><%= f.input :home_address, :label => "Home Address" %></div>
        <div class="col-4"><%= f.input :reference %></div>
      </div>
      <div class="col-7"><%= f.input :email_address, :label => "Email Address" %></div>
      <h2 class="col-12">Screening Question</h2>
      <div class="col-7"><%= f.input :puppy_select, :label => "Which puppy and/or puppies are you interested in visiting?", input_html: { class: "beautiful-dropdown" }, collection: @puppy_names %></div>
      <div class="col-7"><%= f.input :why_dog, :label => "Why do you want a dog?" %></div>
      <div class="col-7"><%= f.input :have_dog, :label => "Have you owned a dog before, if so what kind?" %></div>
      <div class="col-7"><%= f.input :why_interested, :label => "Why are you interested in this breed?" %></div>
      <div class="col-7"><%= f.input :health_issues_aware, :label => "Are you aware of the potential health issues associated with this breed?" %></div>
      <div class="col-7"><%= f.input :primary_caretaker, :label => "Who will be the primary caretaker of the dog?" %></div>
      <div class="col-7"><%= f.input :dewelling, :label => "What type of dwelling do you live in?" %></div>
      <div class="col-7"><%= f.input :have_children, :label => "Do you have children at home?" %></div>
      <div class="col-7"><%= f.input :lifestyle, :label => "How active is your lifestyle?" %></div>
      <div class="col-7"><%= f.input :hours_dog_leftalone, :label => "How many hours a day will the dog be left alone?" %></div>
    </div>
    <%= f.submit class: 'btn-primary-pup' %>
  <% end %>
</div>

