<h1>Make decision for this visitation</h1>

<h2>
  The visitor
  <ul>Name: <%= @visitation.name %></ul>
  <ul>Address: <%= @visitation.home_address %></ul>
  <ul>Personal Information: <%= @visitation.screening_question %></ul>
</h2>

<%= simple_form_for [@breeder, @visitation] do |v| %>
  <div class="form-group">
    <%= v.input :status, input_html: { class: "beautiful-dropdown" }, include_hidden: false, prompt: "Choose...", :collection => %w[Pending Approve Reject] %>
  </div>
  <%= v.submit class: 'btn btn-primary' %>
<% end %>
