<div class="container">
  <h1>Make decision for this visitation</h1>

  <div>
    <h2>The Puppy he/she want to visit: <%= @visitation.puppy_select %></h2>
    <h2>The Visitor</h2>
    <ul>Name: <%= @visitation.name %></ul>
    <ul>Home Address: <%= @visitation.home_address %></ul>
    <ul>Email Address: <%= @visitation.email_address %></ul>
    <ul>Contact Number: <%= @visitation.contact_number %></ul>
    <div id="more" class="fulltext">
      <ul>Occupation: <%= @visitation.occupation %></ul>
      <ul>Reference: <%= @visitation.reference %></ul>
      <ul>Why do you want a dog: <%= @visitation.why_dog %></ul>
      <ul>Have you owned a dog before, if so what kind: <%= @visitation.have_dog %></ul>
      <ul>Why are you interested in this breed: <%= @visitation.why_interested %></ul>
      <ul>Are you aware of the potential health issues associated with this breed: <%= @visitation.health_issues_aware %></ul>
      <ul>Who will be the primary caretaker of the dog: <%= @visitation.primary_caretaker %></ul>
      <ul>What type of dwelling do you live in: <%= @visitation.dewelling %></ul>
      <ul>Do you have children at home: <%= @visitation.have_children %></ul>
      <ul>How active is your lifestyle: <%= @visitation.lifestyle %></ul>
      <ul>How many hours a day will the dog be left alone: <%= @visitation.hours_dog_leftalone %></ul>
    </div>
    <button text-expanded="false" text-controls="more" class="toggle-content" hidden><span class="text">Show More</span> <span class="visually-hidden">about this visitor</span></button>
  </div>

  <%= simple_form_for [@breeder, @visitation] do |v| %>
    <div >
      <%= v.input :status, label: "Make your decision", hint: "You can Approve, Reject or Pend", collection: %w[Pending Approve Reject] %>
    </div>
    <%= v.submit class: 'btn-primary-pup' %>
  <% end %>
</div>
