<div class="container">
  <div class="header-sec">
    <div>
      <h1>Make<span class="mark-parent"><span class="marc"></span>Decision</span></h1>
    </div>
    <div>
      <img src="<%= image_path 'visitation-edit-page.png' %>" style="opacity: .9; height: 275px; width: 450px; object-fit: cover;" />
    </div>
  </div>

  <div class="visitation-edit">
    <div class="visitor-info">
      <h2>The Puppy: <%= @visitation.puppy_select %></h2>
      <h2>The Visitor</h2>
      <p>Name: <%= @visitation.name %></p>
      <p>Home Address: <%= @visitation.home_address %></p>
      <p>Email Address: <%= @visitation.email_address %></p>
      <p>Contact Number: <%= @visitation.contact_number %></p>
      <div id="more" class="fulltext">
        <p>Occupation: <%= @visitation.occupation %></p>
        <p>Reference: <%= @visitation.reference %></p>
        <p>Why do you want a dog: <%= @visitation.why_dog %></p>
        <p>Have you owned a dog before, if so what kind: <%= @visitation.have_dog %></p>
        <p>Why are you interested in this breed: <%= @visitation.why_interested %></p>
        <p>Are you aware of the potential health issues associated with this breed: <%= @visitation.health_issues_aware %></p>
        <p>Who will be the primary caretaker of the dog: <%= @visitation.primary_caretaker %></p>
        <p>What type of dwelling do you live in: <%= @visitation.dewelling %></p>
        <p>Do you have children at home: <%= @visitation.have_children %></p>
        <p>How active is your lifestyle: <%= @visitation.lifestyle %></p>
        <p>How many hours a day will the dog be left alone: <%= @visitation.hours_dog_leftalone %></p>
      </div>
      <button text-expanded="false" text-controls="more" class="toggle-content btn-secondary-pup" hidden><span class="text">Learn More</span> <span class="visually-hidden">about this visitor</span></button>
    </div>

    <div class="visitation-decision">
      <h2>Choose your decision</h2>
      <%= simple_form_for [@breeder, @visitation] do |v| %>
        <div class="col-12">
          <%= v.input :status, label: false, hint: "You can Approve, Reject or Pend", collection: %w[Pending Approve Reject] %>
        </div>
        <%= v.submit class: 'btn-primary-pup' %>
      <% end %>
    </div>

  </div>
</div>
