<div class="container">
  <div class="d-flex flex-row">
    <div class="p-2">
      <%= cl_image_tag @breed.photo.key, class: 'breed-img' if @breed.photo.attached? %>
    </div>
      <div class="d-flex align-items-start flex-column ml-5">
        <div>
          <h1><%= @breed.name %></h1>
        </div>
        <div class="mt-3">
          <h4 class="py-2">Origin: <%= @breed.origin %></h4>
          <h4 class="py-2">Average Life-Span: <%= @breed.minimum_life_span %> - <%= @breed.maximum_life_span %> Years</h4>
          <h4 class="py-2">Average Weight: <%= @breed.minimum_weight %> - <%= @breed.maximum_weight %> Kg</h4>
          <h4 class="py-2">Coats: <%= @breed.coats %></h4>
        </div>
        <div class="mt-4">
          <%= link_to "Find Nearby", { controller: "breeders", query: "#{@breed.name}" }, class: "btn-primary-pup" %>
        </div>
      </div>
  </div>
  <div class="mt-4">
    <p><%= @breed.description %></p>
  </div>
  <div class="text-center mt-5">
    <h2><span class="highlight-parent"><span class="highlight"></span>Attributes</span></h2>
    <% def icon (attribute) %>
      <% attribute.times do %>
        <img src="https://img.icons8.com/cotton/20/000000/dog-heart--v4.png"/>
      <% end %>
      <% (5 - attribute).times do %>
        <img src="https://img.icons8.com/cotton/20/000000/dog-heart--v1.png"/>
      <% end %>
    <% end %>
    <div class="dog-attribute">
      <div class="attribute-left mr-4 mt-4">
        <h4 class="mb-4">Family Friendly<br><% icon(@breed.family_friendly) %></h4>
        <h4 class="mb-4">Trainability<br><% icon(@breed.trainability) %></h4>
        <h4 class="mb-4">Activity Level<br><% icon(@breed.activity_level) %></h4>
      </div>
      <div class="attribute-right ml-4 mt-4">
        <h4 class="mb-4">Health<br><% icon(@breed.health_issues) %></h4>
        <h4 class="mb-4">Guardian Insticts<br><% icon(@breed.guardian_insticts) %></h4>
        <h4 class="mb-4">Grooming Requirements<br><% icon(@breed.grooming_requirements) %></h4>
      </div>
    </div>
  </div>

  <div class="text-center mt-5">
    <h2><span class="highlight-parent"><span class="highlight"></span>Similar</span> Breeds</h2>
    <div class="mt-4">
      <%= render 'breed_cards' %>
    </div>
  </div>
  <div class="space"></div>
</div>
