<h2 ><%= @breed.name %></h2>

<h3>origin</h3>
Average Life-Span: <%= @breed.minimum_life_span %> - <%= @breed.maximum_life_span %> Years
Average Life-Span: <%= @breed.minimum_weight %> - <%= @breed.maximum_weight %> Kg
Coats: <%= @breed.coats %>

<h3>find nearby</h3>
<h3>Attributes</h3>

<h3>Similar Breeds</h3>
