<h2 ><%= @breed.name %></h2>

<<<<<<< HEAD
<%= link_to "Edit me", edit_breed_path, class: "btn btn-outline-danger" %>
<%= link_to "See all breeds", breeds_path, class: "btn btn-dark popular" %>
=======
<h3>origin</h3>
<ul>Average Life-Span: <%= @breed.minimum_life_span %> - <%= @breed.maximum_life_span %> Years</ul>
<ul>Average Life-Span: <%= @breed.minimum_weight %> - <%= @breed.maximum_weight %> Kg</ul>
<ul>Coats: <%= @breed.coats %></ul>

<h3>find nearby</h3>
<h3>Attributes</h3>
<ul>Family Friendly: <%= @breed.family_friendly %></ul>
<ul>Trainability: <%= @breed.trainability %></ul>
<ul>Activity Level: <%= @breed.activity_level %></ul>
<ul>Health: <%= @breed.health_issues %></ul>



<h3>Similar Breeds</h3>

<%= link_to "See all breeds", breeds_path, class: "btn-secondary-pup" %>

</br>
<%= link_to "See all #{@breed.name} puppies", breed_puppies_path(@breed.id), class: "btn-primary-pup" %>
>>>>>>> 7583635f6e06bc62b4895864cae7737e7a43890c
