<h2 ><%= @breed.name %></h2>

<%= link_to "Edit me", edit_breed_path, class: "btn btn-outline-danger" %>
<%= link_to "See all breeds", breeds_path, class: "btn btn-dark popular" %>
<h3>origin</h3>
<ul>Average Life-Span: <%= @breed.minimum_life_span %> - <%= @breed.maximum_life_span %> Years</ul>
<ul>Average Life-Span: <%= @breed.minimum_weight %> - <%= @breed.maximum_weight %> Kg</ul>
<ul>Coats: <%= @breed.coats %></ul>

<h3>find nearby</h3>
<h3>Attributes</h3>
<ul>Family Friendly: <%= @breed.family_friendly %></ul>
<ul>Trainability: <%= @breed.trainability %></ul>
<ul>Activity Level: <%= @breed.activity_level %></ul>
<ul>Health: <%= @breed.health_issues %></ul>
<ul>Guardian Insticts: <%= @breed.guardian_insticts %></ul>
<ul>Grooming Requirements: <%= @breed.grooming_requirements %></ul>


<h3>Similar Breeds</h3>

<%= link_to "See all breeds", breeds_path, class: "btn-secondary-pup" %>