<div class="container">
  <div class="row-container d-flex">
    <div>
      <img src="<%= image_path 'Breed_bulldog.jpg' %>", class="breed-img"/>
    </div>
    <div>
      <h1><%= @breed.name %></h1>
      <ul>origin: <%= @breed.origin %></ul>
      <ul>Average Life-Span: <%= @breed.minimum_life_span %> - <%= @breed.maximum_life_span %> Years</ul>
      <ul>Average Life-Span: <%= @breed.minimum_weight %> - <%= @breed.maximum_weight %> Kg</ul>
      <ul>Coats: <%= @breed.coats %></ul>
    </div>
  </div>
  <!-- <h3>find nearby</h3> -->
  <div class="text-center">
    <h2>Attributes</h2>
    <% def icon (attribute) %>
      <% attribute.times do %>
        <img src="https://img.icons8.com/cotton/20/000000/dog-heart--v4.png"/>
      <% end %>
      <% (5 - attribute).times do %>
        <img src="https://img.icons8.com/cotton/20/000000/dog-heart--v1.png"/>
      <% end %>
    <% end %>
    <div class="dog-attribute">
      <div class="attribute-left">
        <ul>Family Friendly<br><% icon(@breed.family_friendly) %></ul>
        <ul>Trainability<br><% icon(@breed.trainability) %></ul>
        <ul>Activity Level<br><% icon(@breed.activity_level) %></ul>
      </div>
      <div class="attribute-right">
        <ul>Health<br><% icon(@breed.health_issues) %></ul>
        <ul>Guardian Insticts<br><% icon(@breed.guardian_insticts) %></ul>
        <ul>Grooming Requirements<br><% icon(@breed.grooming_requirements) %></ul>
      </div>
    </div>
  </div>

  <%= link_to "See all breeds", breeds_path, class: "btn btn-dark popular" %>

</div>
