<div class="container">
  <div class="row-container d-flex">
    <div>
      <img src="<%= image_path 'Breed_bulldog.jpg' %>", class="breed-img"/>
    </div>
    <div>
      <h1><%= @breed.name %></h1>
      <ul>origin</ul>
      <ul>Average Life-Span: <%= @breed.minimum_life_span %> - <%= @breed.maximum_life_span %> Years</ul>
      <ul>Average Life-Span: <%= @breed.minimum_weight %> - <%= @breed.maximum_weight %> Kg</ul>
      <ul>Coats: <%= @breed.coats %></ul>
    </div>
  </div>
  <!-- <h3>find nearby</h3> -->
  <div class="text-center">
    <h2>Attributes</h2>
  </div>
  <div class="text-center">
    <ul>Family Friendly: <%= @breed.family_friendly %></ul>
    <ul>Trainability: <%= @breed.trainability %></ul>
    <ul>Activity Level: <%= @breed.activity_level %></ul>
    <ul>Health: <%= @breed.health_issues %></ul>
  </div>

<%= link_to "Edit me", edit_breed_path, class: "btn btn-outline-danger" %>
<%= link_to "See all breeds", breeds_path, class: "btn btn-dark popular" %>
<h3>origin</h3>
<ul>Average Life-Span: <%= @breed.minimum_life_span %> - <%= @breed.maximum_life_span %> Years</ul>
<ul>Average Life-Span: <%= @breed.minimum_weight %> - <%= @breed.maximum_weight %> Kg</ul>
<ul>Coats: <%= @breed.coats %></ul>