<div class="container">
  <h1>Edit <%= @puppy.name.capitalize() %> Puppy</h1>
  <div class="form-group col-7">
    <%= simple_form_for [@puppy] do |f| %>
      <%= f.input :name %>
      <%= f.input :weight %>
      <%= f.input :gender, collection: ["Male", "Female"] %>
      <%= f.input :coat %>
      <%= f.input :breed_id, collection: @breeds  %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class: 'btn-primary-pup'%>
    <% end %>
  </div>
  <%= link_to "Back to #{@puppy.name} litter", puppy_path(@puppy), class: "btn btn-dark popular" %>
</div>


