<h1>All <strong><%= @litter.name %></strong> Litter Puppies</h1>

<% @litter.puppies.each do |puppy| %>
  <h2><%= link_to puppy.name, puppy_path(puppy) %></h2>
<% end %>

<%= link_to "create a puppy", new_breeder_litter_puppy_path, class: "btn btn-outline-dark" %>
<%= link_to "back to #{@litter.name} litter", litter_path(@litter), class: "btn btn-outline-dark" %>
<%= link_to "home page", root_path, class: "btn btn-dark popular" %>