<div class="container">
  <h1>All <strong><%= @litter.name %></strong> Litter Puppies</h1>

  <%= render 'puppies_card' %>

  <br>
  <br>
  <%= link_to "create a puppy", new_breeder_litter_puppy_path, class: "btn-secondary-pup" %>
  <%= link_to "back to #{@litter.name} litter", litter_path(@litter), class: "btn-secondary-pup" %>
  <%= link_to "home page", root_path, class: "btn-primary-pup" %>
</div>
