<h1><%= @puppy.name %></h1>

<p>Gender: <%= @puppy.gender %></p>
<p>Weight: <%= @puppy.weight %></p>
<p>Coat: <%= @puppy.coat %></p>

<%= link_to "Edit #{@puppy.name} Puppy", edit_puppy_path(@puppy), class: "btn btn-dark popular" %>
<%= link_to "back to #{@puppy.litter.name} litter puppies", breeder_litter_puppies_path(@puppy.litter.breeder, @puppy.litter), class: "btn btn-outline-dark" %>
