<div class="container">
  <div class="pop shadow text-center">
    <h2 style="margin-left: -520px;"><%= @puppy.name.capitalize() %></h2>
    <%= cl_image_tag @puppy.photo.key, crop: :fill, class: 'show-img' if @puppy.photo.attached?%>

    <p>Gender: <%= @puppy.gender %></p>
    <p>Weight: <%= @puppy.weight %> Kg</p>
    <p>Coat: <%= @puppy.coat %></p>

    <%= link_to "Edit #{@puppy.name.capitalize()} Puppy", edit_puppy_path(@puppy), class: "btn-secondary-pup" %>
    <%= link_to "Delete #{@puppy.name.capitalize()} Puppy", puppy_path(@puppy), method: "delete", class: "btn-secondary-pup" %>
    <%= link_to "Back to #{@puppy.litter.name.capitalize()} litter", litter_path(@puppy.litter_id), class: "btn-secondary-pup" %>
  </div>
  <div class="space"></div>
</div>
