<div class="container">

  <div class="header-sec">
    <div>
      <h1><span class="mark-parent"><span class="marc"></span>Pup Team</span></h1>
    </div>
    <div>
      <img src="<%= image_path 'clip-problem-solving.png' %>" style="opacity: .9; height: 275px; width: 450px; object-fit: cover;" />
    </div>
  </div>

  <div class="personal-cards">
    <div class="card-product">
      <img src="<%= image_path 'Dima.png' %>" />
      <div class="card-product-infos">
        <h2>Dima Savchenko</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>
    <div class="card-product">
      <img src="<%= image_path 'Jeremy.png' %>" />
      <div class="card-product-infos">
        <h2>Jeremy Wilson</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>
    <div class="card-product">
      <img src="<%= image_path 'Tait.png' %>" />
      <div class="card-product-infos">
        <h2>Tait Haslam</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>
    <div class="card-product">
      <img src="<%= image_path 'Xinglin.png' %>" />
      <div class="card-product-infos">
        <h2>Xinglin Li</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>
  </div>

</div>
