<div class="container">

  <div class="header-sec">
    <div>
      <h1><span class="mark-parent"><span class="marc"></span>Pup Team</span></h1>
    </div>
    <div>
      <img src="<%= image_path 'clip-problem-solving.png' %>" style="opacity: .9; height: 275px; width: 450px; object-fit: cover;" />
    </div>
  </div>

  <div class="grid">

    <div class="personal-cards">
      <div class="personal-infos">
        <h2 class="ml-1">Dima Savchenko</h2>
        <div class="personal-information">
          <img src="<%= image_path 'Dima.png' %>" />
          <div class="card-product-infos">
            <p>Hello! I'm currently working as an eComm Manager for Voila by Sobeys. We are operating grocery delivery business for second largest retailer in Canada. Before that I was at Loblaw Digital building and operating their eComm business.</p>
          </div>
        </div>
        <div class="personal-links-icons">
          <a href="#" target="blank"><i class="fab fa-linkedin"></i></a>
          <a href="#" target="blank"><i class="fab fa-facebook"></i></a>
          <a href="#" target="blank"><i class="fab fa-instagram"></i></a>
          <a href="https://github.com/savvaq" target="blank"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </div>

    <div class="personal-cards">
      <div class="personal-infos">
        <h2 class="ml-1">Jeremy Wilson</h2>
        <div class="personal-information">
          <img src="<%= image_path 'Jeremy.png' %>" />
          <div class="card-product-infos">
            <p>Currently completeing my BCA at Yorkville University. Attended Le Wagon to advance my skills and continue developing for the technology industry in learning Full-stack development and applying my Graphic Design education. </p>
          </div>
        </div>
        <div class="personal-links-icons">
          <a href="https://www.linkedin.com/in/jeremy-wilson-/" target="blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://www.facebook.com/jeremy.wilson.58760" target="blank"><i class="fab fa-facebook"></i></a>
          <a href="https://www.instagram.com/jeremywilsondesigns/?hl=en" target="blank"><i class="fab fa-instagram"></i></a>
          <a href="https://github.com/jwilson97" target="blank"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </div>

    <div class="personal-cards">
      <div class="personal-infos">
        <h2 class="ml-2">Tait Haslam</h2>
        <div class="personal-information">
          <img src="<%= image_path 'Tait.png' %>" />
          <div class="card-product-infos">
            <p>I currently work as an Operations Analyst for a cannabis tech start-up called Wikileaf.com. I want to learn how to code so I can transition to a development career and build incredible products.</p>
          </div>
        </div>
        <div class="personal-links-icons">
          <a href="https://www.linkedin.com/in/tait-haslam-4935b697/" target="blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://www.facebook.com/tait.haslam" target="blank"><i class="fab fa-facebook"></i></a>
          <a href="https://www.instagram.com/hazyhazzy/" target="blank"><i class="fab fa-instagram"></i></a>
          <a href="https://github.com/HazyHazzy/" target="blank"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </div>

    <div class="personal-cards">
      <div class="personal-infos">
        <h2 class="ml-3">Xinglin Li</h2>
        <div class="personal-information">
          <img src="<%= image_path 'Xinglin.png' %>" />
          <div class="card-product-infos">
            <p>I came from an engineering background, and I did hardware design before. Right now I am a software tester, and I want to learn more about Web design, so I come here to learn and meet challenge.</p>
          </div>
        </div>
        <div class="personal-links-icons">
          <a href="#" target="blank"><i class="fab fa-linkedin"></i></a>
          <a href="#" target="blank"><i class="fab fa-facebook"></i></a>
          <a href="#" target="blank"><i class="fab fa-instagram"></i></a>
          <a href="https://github.com/xinglin2016" target="blank"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </div>
  </div>

</div>
