<div class="container">

  <div class="top-section">
    <div>
      <h1 class="homepage-title">Find your<br><span class="mark-parent"><span class="marc"></span>Best</span> Friend</h1>

      <p>Connecting Dog Lovers with <br>Reputable Breeders in their area</p>
    </div>
      <div>
        <%= image_tag 'Homepage-img.png', class: "homepage-image" %>
      </div>
    </div>
    <div class="search-homepage">
    <%= form_tag breeders_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
      placeholder: "Find a Breeder"
      %>
    <%= button_tag(type: 'submit', class: "btn btn-primary-pup") do %>
    <i class="fas fa-search"></i>
  <% end %>
      <!-- submit_tag "", class: "btn-primary-pup"
      <i class="fas fa-search"></i> -->
      <% end %>
    </div>



  <div class="middle-section">
    <h2>Our <span class="highlight-parent"><span class="highlight"></span>Mission</span></h2>
    <p>At PuP, we’re on a quest to change how dog lovers find their companions,
    by ensuring they’re connected with reputable breeders that are passionate
    about their craft. Through education and attentive curation,
    we empower users to make informed decisions in an industry that
    is filled with bad actors. Unethical breeding, where profit is the primary incentive,
    has resulted in heartbroken families, abandoned dogs, and the needless loss of life.
    In order to change these outcomes, PuP is endeavouring to change the
    conditions that have allowed them to flourish, one <i class="fas fa-paw"></i>
    at a time. </p>
  </div>



  <div class="d-flex justify-content-around">
    <div>
      <img src="<%= image_path 'vector-creator.png' %>" style="opacity: .9; height: 275px; width: 400px; object-fit: cover; border-radius: 4px;"/>
    </div>
    <div class="bottom-section">
      <h2>Only <span class="highlight-parent"><span class="highlight"></span>Verified</span><br>Breeders</h2>
        <p>Finding a dog shouldn’t be stressful. With <br>
           PuP’s list of verified breeders you have a peice
           <br>of mind when welcoming a new family member
        </p>
    </div>
  </div>

</div>
