<div class="container">
  <% if @breeder != [] %>
    <h1><%= @breeder[0].name %></h1>

    <h2>Myself</h2>
    <%= @breeder[0].about_us %>

  <div class="row-container">
    <h3>Parents</h3>
    <div class="row">
      <div class="parent-cards">
        <% @breeder[0].parents.reverse_each do |parent|%>
          <div class="card-parent">
            <img src="<%= image_path 'dalmatian_adult.jpg' %>" />
            <div class="card-parent-infos">
              <div>
                <h2><%= link_to parent.name, breeder_parent_path(@breeder[0].id, parent.id), class: "parent-name" %></h2>
                <p><%= parent.description %></p>
              </div>
              <p class="card-parent-pricing"><%= parent.coat %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row-container">
    <h3>Litters</h3>
    <div class="row">
      <div class="litter-cards">
        <% @breeder[0].litters.reverse_each do |litter|%>
           <div class="card-litter">
              <img src="<%= image_path 'litter_pic.jpg' %>" />
              <div class="card-litter-infos">
                <div>
                  <h2><%= link_to litter.name, litter_path(litter.id), class: "litter-name" %></h2>
                  <p><%= litter.birth_date %></p>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>

    <%= link_to "edit my brand page", edit_breeder_path(@breeder.ids), class: "btn btn-outline-dark" %>
    <%= link_to "add parents", new_breeder_parent_path(@breeder.ids), class: "btn btn-outline-dark" %>
    <%= link_to "add litters", new_breeder_litter_path(@breeder.ids), class: "btn btn-outline-dark" %>


  <% else %>
    <p>You don't have a brand page yet</p>
    <%= link_to "create my brand page", new_breeder_path, class: "btn btn-outline-dark" %>
  <% end %>
</div>
