<div class="container">

  <div class="header-sec">
    <div>
      <h1><span class="mark-parent"><span class="marc"></span>Visitation</span> Inquiry & Request</h1>
    </div>
    <div>
      <img src="<%= image_path 'pablo-good-job.png' %>" style="opacity: .9; height: 275px; width: 450px; object-fit: cover;" />
    </div>
  </div>

  <br>
  <% if @my_visit.blank? %>
    <%= link_to "No one send visitation, Polish your brand page?", my_brand_path, class: "btn-secondary-pup visitation-margin" %>
  <% else %>
    <div class="visitation-blur">
      <% @my_visit.reverse_each do |visitation| %>
        <div class="card-brand">
          <div class="card-brand-infos">
            <h2 class="decision-info">
              <%= visitation.name.capitalize() %> request to visit your puppy <%= visitation.puppy_select %>
              <div>
                <% if visitation.status == "Approve" %>
                  <img src="<%= image_path 'approved.png' %>" style="opacity: .9; height: 40px; width: 60px; object-fit: cover;" />
                <% elsif visitation.status == "Rejected" %>
                  <img src="<%= image_path 'declined.png' %>" style="opacity: .9; height: 40px; width: 60px; object-fit: cover;" />
                <% end %>
              </div>
            </h2>
            <p class="insert-html">
              <%= link_to "Look into details for this visitation", edit_breeder_visitation_path(visitation.breeder_id, visitation.id), class: "btn-primary-pup" %>
              <%= link_to "Delete this inquiry", visitation_path(visitation.id), method: "delete", class: "btn-secondary-pup delete-inquiry" %>
            </p>
          </div>
        </div>
      <% end %>
    </div>

  <% end %>

  <% if @my_visitations.blank? %>
    <br>
    <%= link_to "Find a breeder and send visitation?", breeders_path, class: "btn-secondary-pup visitation-margin" %>
  <% else %>
    <% @my_visitations.reverse_each do |visitation| %>
      <div class="card-visitation">
        <div class="card-front">
          <h2>Visitation request to <%= visitation.breeder.name.capitalize() %></h2>
        </div>
        <div class="card-back">
          <div>
            <% if visitation.status == "Approve" %>
              <h3><%= "Congratulations, your visitation request to #{visitation.breeder.name.capitalize()} got approved" %></h3>
              <p><%= "You can contact the breeder through Email: #{visitation.breeder.email}, Phone: #{visitation.breeder.phone_number}" %></p>
            <% else %>
              <h2>Visitation request to <%= visitation.breeder.name.capitalize() %> is <%= visitation.status %></h2>
            <% end %>
          </div>
          <div>
            <%= link_to "Cancel this visitation", visitation_path(visitation.id), method: "delete", class: "btn-secondary-pup" %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
