<h1>Create new Parent for <%= @breeder.name %> breeder</h1>

<%= simple_form_for [@breeder, @parent] do |f| %>
    <%= f.input :name %>
    <%= f.input :weight %>
    <%= f.input :coat %>
    <%= f.input :gender %>
    <%= f.input :description %>
    <%= f.input :breed_id, collection: @breed  %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
<% end %>


