<div class="container">
  <div class="pop shadow text-center">
    <h2 style="margin-left: -520px;"><%= @parent.name.capitalize() %></h2>
    <%= cl_image_tag @parent.photo.key, crop: :fill, class: 'show-img' if @parent.photo.attached? %>

    <p> Gender: <%= @parent.gender  %></p>
    <p> Weight: <%= @parent.weight  %> Kg</p>
    <p> Coat: <%= @parent.coat.capitalize()  %></p>

    <%= link_to "Back to #{@parent.breeder.name.capitalize()} breeder", breeder_path(@parent.breeder), class: "btn-secondary-pup" %>
  </div>
  <div class="space"></div>
</div>



