<%= simple_form_for [@breeder] do |f| %>
  <div class="form-group col-7">
    <%= f.input :name %>
    <%= f.input :city %>
    <%= f.input :about_us, as: :text, label: "Myself"%>
    <%= f.input :website_url %>
    <%= f.input :email %>
    <%= f.input :phone_number %>
    <%= f.input :photo, as: :file %>
  </div>
  <%= f.submit class: 'btn-primary-pup' %>
<% end %>
