<div class="parent-cards">
  <% @breeder.parents.reverse_each do |parent|%>
    <%= link_to breeder_parent_path(@breeder.id, parent.id) do %>
      <div class="card-parent draw-border">
          <%= cl_image_tag parent.photo.key, crop: :fill, class: 'show-img'%>
        <div class="card-parent-infos">
          <div>
            <h2><%= parent.name %></h2>
            <p class="p-card"><%= parent.breed_id %></p>
          </div>
          <p class="p-card"><%= parent.coat %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
