<div class="container">

  <h1><%= @breeder.name %></h1>

  <h2>About Us</h2>
  <%= @breeder.about_us %>
  
  <div class="row-container">
    <h3>Parents</h3>
    <div class="row">
      <%= render 'parent_cards' %>
    </div>
  </div>

  <div class="row-container">
    <h3>Litters</h3>
    <div class="row">
      <%= render 'litter_cards' %>
    </div>
  </div>

  <br>
  <%= link_to "See all breeders", breeders_path, class: "btn-secondary-pup" %>

</div>


