<div class="container">
  <div class="row align-items-center">
    <div class="col-4">
      <h1>Litter Info</h1>
    </div>
    <div class="col-8">
      <img src="<%= image_path 'pablo-searching.png' %>" style="opacity: .9; height: 300px; object-fit: cover;" />
    </div>
  <div>
  <div>
    <h1><%= @breeder.name %></h1>

    <h2>About Us</h2>
    <%= @breeder.about_us %>

    <div class="row-container">
      <h3 style="margin-top: 24px;">Parents</h3>
      <div class="row">
        <%= render 'parent_cards' %>
      </div>
    </div>

    <div class="row-container">
      <h3 style="margin-top: 24px;">Litters</h3>
      <div class="row">
        <%= render 'litter_cards' %>
      </div>
    </div>

    <br>
    <%= link_to "See all breeders", breeders_path, class: "btn-secondary-pup" %>
  </div>
</div>


