<div class="container">
  <div>
    <h1><%= @breeder.name %></h1>

    <h2><span class="highlight-parent"><span class="highlight"></span>About</span> Us</h2>
    <%= @breeder.about_us %>

    <div class="row-container">
      <h3 style="margin-top: 24px;"><span class="highlight-parent-h3"><span class="highlight-h3"></span>Parents</span></h3>
      <div class="row">
        <%= render 'parent_cards' %>
      </div>
    </div>

    <div class="row-container">
      <h3 style="margin-top: 24px;"><span class="highlight-parent-h3"><span class="highlight-h3"></span>Litters</span></h3>
      <div class="row">
        <%= render 'litter_cards' %>
      </div>
    </div>

    <br>
    <%= link_to "See all breeders", breeders_path, class: "btn-secondary-pup" %>
  </div>
</div>


