<div class="container">
  <div>
    <div class="header-sec">
    <div>
      <h1><%= @breeder.name.capitalize() %></h1>
    </div>
    <div>
      <img src="<%= image_path 'walking_dog.svg' %>" style="opacity: .9; height: 300px; width: 450px; object-fit: cover;" />
    </div>
  </div>
  <div class="space"></div>
  <div class="about-us-info d-flex justify-content-around">
    <div style="max-width: 700px;">
      <h2><span class="highlight-parent"><span class="highlight"></span>About</span> Us</h2>
      <%= @breeder.about_us %>
    </div>
    <div>
      <div class="breed-info-card shadow">
        <div class="text-center">
          <img src="<%= image_path 'Montreal_map.jpg' %>" class="info-map"/>
        </div>
        <ul class="list">
          <li class="mb-1"><i class="fas fa-map-marker-alt"></i> <%= @breeder.city %> </li>
          <li class="mb-1"><i class="fas fa-link"></i> <%= @breeder.website_url %> </li>
          <li class="mb-1"><i class="fas fa-paper-plane"></i> <%= @breeder.email %></li>
          <li class="mb-1"><i class="fas fa-phone-alt"></i> <%= @breeder.phone_number %></li>
        </ul>
      </div>
    </div>
  </div>

    <!-- PARENTS -->
    <div class="row-container">
      <h2><span class="highlight-parent"><span class="highlight"></span>Parents</span></h2>

      <!-- PARENTS CARDS -->
      <div class="row">
        <div class="parent-cards">
          <% @parents.reverse_each do |parent|%>
            <div class="card-parent draw-border" data-toggle="modal" data-target="#parent-<%= parent.id %>">
                <%= cl_image_tag parent.photo.key, crop: :fill, class: 'show-img' if parent.photo.attached?%>
              <div class="card-parent-infos">
                <div>
                  <h2><%= parent.name.capitalize() %></h2>
                  <p class="p-card"><%= parent.description %></p>
                </div>
              </div>
            </div>

    <!-- PARENTS MODAL -->
            <div class="modal fade" id="parent-<%= parent.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content container" style="border-radius: 8px;">
                  <div class="modal-body">
                    <h2><%= parent.name.capitalize() %></h2>
                    <div id="parent-photo">
                      <%= cl_image_tag parent.photo.key, crop: :fill, class: 'show-img', id: "parent-show-img-breeder" if parent.photo.attached?%>
                    </div>
                    <h4>About <%= parent.name.capitalize()  %></h4>
                    <div class="about-parent">
                      <div id="parent-description">
                        <p><%= parent.description %></p>
                      </div>
                      <div id="parent-info">
                        <div class="parent-info-text"><h4>Gender:</h4><span><%= parent.gender %></span></div>
                        <div class="parent-info-text"><h4>Weight:</h4><span><%= parent.weight %> Kg</span></div>
                        <div class="parent-info-text"><h4>Coat:</h4><span><%= parent.coat.capitalize() %></span></div>
                      </div>
                    </div>
                    <button type="button" class="btn btn-primary-pup" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row-container">
      <h2 style="margin-top: 24px; margin-bottom: 16px;"><span class="highlight-parent-h3"><span class="highlight-h3"></span>Litters</span></h2>
      <div class="row">
        <%= render 'litter_cards' %>
      </div>
    </div>

    <br>
    <%= link_to "See all breeders", breeders_path, class: "btn-secondary-pup" %>
     <div class="space"></div>
  </div>
</div>


